@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Docker image </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Demo Session for ECR and ECS deployment</a>.</p>
</div>
